<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site">
    <meta name="author" content="lightningdragon">
    <meta name="keyword" content="Django,React,Redux,Sass,Webpack">
    <title>Django React App</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- style -->
    {% render_bundle 'main' 'css' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // React.js ID
        gtag('config', 'UA-118965717-6');
    </script>
</head>
<body>
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>

<!-- javascripts -->
{% render_bundle 'main' 'js' %}
</body>
</html>
