.Vidu1 {
  text-align: center;
}

.header {
  background-color: #ad04ba;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}